<style type="text/css">
		/* Desktops and laptops ---------- */
@media screen and (min-width: 1024px){
    /* styles */
    * {
    	box-sizing: border-box;
	}
	body {
		width: 100%;
		height: 100%;
		background-image: url("http://i853.photobucket.com/albums/ab99/mediazeus/finalmovieslatequiz1copy.jpg");
		background-size: cover;
		background-attachment: fixed;
		margin: 0;
		padding: 0;
	}
	.header {
		background: black;
		color: white;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 10rem;
		line-height: 3rem;
		backface-visibility: hidden;
	}
	.header h1 {
		float: left;
		font-size: 4.2rem;
		margin: 0.6rem 0 0 2rem;
		font-weight: normal;
		border: orange;
		border-bottom-right-radius: 0rem;
		border-top-left-radius: 0rem;
		background: black;
		color: white;
		line-height: 1rem;
		padding: 0.7rem;
	}
	.header nav {
		float: right;
		font-size: 1.4rem;
	}
	.header nav ul {
		margin: 0;
		padding: 0;
	}
	.header nav li {
		display: inline-block;
		padding: 0.2rem;
		cursor: pointer;
		font-size: 1.2rem;
	}
	.header nav li:hover {
		background: red;
	}
	.search {
		height: 1.8rem;
		border-radius: 0.2rem 0 0 0.2rem;
		width: 20rem;
		padding: 0.2rem;
		border: 1px solid red;
	}
	.searchbtn {
		height: 1.8rem;
		background: white;
		border: 1px solid red;
		padding: 0.2rem;
		border-radius: 0 0.2rem 0.2rem 0;
		cursor: pointer;
		font-weight: bold;
	}
	.searchbtn:hover {
		background-color: gold;
		border: 3px solid black;
	}
	.categories {
		margin-right: 2rem;
	}
	.hide {
		visibility: hidden;
	}
	section .con{
	font-size: 14px;
	color: white;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
	padding: 0% 2%;
	margin: auto;
	background-color: rgb(0,0,0);
	opacity: 0.7;
	}
	section {
		color: white;
		padding: 2rem 3rem;
		margin-top: 10px;
	}
	.titletext {
		color: red;
		font-style: italic;
		font-size: 27px;
	}
	.titletext2 {
		color: red;
		font-style: italic;
	}
	.column {
	    float: left;
	    padding: 5px;
	    margin: 3px;
	    margin-top: 1rem;
	    height: 450px;
	    background-color: white;
	}
	.left {
	  width: 15%;
	  padding: 15px;
	  opacity: 0.96;
	}
	.right {
	  width: 80%;
	  padding: 15px;
	  opacity: 0.96;
	}
	.row:after {
	    content: "";
	    display: table;
	    clear: both;
	}
	.bottom {
		float: left;
	    margin: 5px;
	}
	.bottom-row:after{
	    content: "";
	    display: table;
	    clear: both;	
	}
	.aside {
	  width:22%;
	  margin-left: 3rem;
	  background-color: white;
	  height: 80%;
	  margin-top: 1.5rem;
	  border: 3px solid lavender;
	}
	.bside {
	  width:22%;
	  background-color: white;
	  height: 80%;
	  margin-top: 1.5rem;
	  border: 3px solid darkslategray;
	}
	.cside {
	  width:22%;
	  background-color: white;
	  height: 80%;
	  margin-top: 1.5rem;
	  border: 3px solid darkseagreen;
	}
	.dside {
	  width:22%;
	  background-color: white;
	  height: 80%;
	  margin-top: 1.5rem;
	  border: 3px solid darksalmon;
	}
	.imgbtn {
		width: 100%;
		height: 100%;
	}
	.right-top h1 {
		color: black; 
		text-align: center; 
		font-size: 40px;
	}
	.top-section p {
		color: black;
		text-align: center; 
		margin-top: -38px;
		font-weight: bold;
		margin-bottom: 29px;
	}
	.right-top h3 {
		color:black; 
		text-align: center;
	}
	.right-top {
	  background-color: white;
	  height: 40%;
	}
	.right-bottom {
	  background-color: black;
	  height: 50%;
	}
	.left ul {
		padding: 5px;
		color: black;
		list-style-type: none;
	}
	.left h2 {
		color: white;
		background: black;
		text-align: center;
		padding: 5px;
		font-size: 18px;
		border-radius: 18px; 
	}
	.left ul li {
		font-size: 18px;
	}
	a {
		text-decoration: none;
		color: black;
	}
	a:hover {
		color: red;
	}
	.social {
		width: 1.5%;
		height: 1%;
	}
	.footer {
		background-color: black;
		color: white;
		text-align: center;
		font-size: 0.8rem;
		position: fixed;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 6.5rem;
		padding: 0.4rem;
	}
	.fb {
		margin-left: -35px;
	}
	.footer p a {
		color: white;
	}
	.footer p a:hover {
		color: red;
	}
	.footer li {
		display: inline;
		padding: 1px;																					
		margin: 0;
		vertical-align: middle;
	}

}

/* Smartphones (portrait and landscape) ---------- */
@media screen and (min-width: 180px) and (max-width: 1023px){
    /* styles */
    * {
    	box-sizing: border-box;
	}

	body {
		width: 100%;
		height: 100%;
		background-image: url("http://i853.photobucket.com/albums/ab99/mediazeus/finalmovieslatequiz1copy.jpg ");
		background-size: cover;
		background-repeat: no-repeat; 
		background-attachment: fixed;
		margin: 0;
		padding: 0;
	}
	.header {
		background: black;
		color: white;
		margin-top: -35px;
		width: 100%;
		text-align: center;
	}
	.header h1 {
		font-size: 3rem;
		font-weight: normal;
		font-style: italic;
		color: white;
	}
	.titletext {
		color: red;
	}
	.titletext2 {
		color: red;
		font-style: italic;
	}
	.header nav li {
		list-style-type: none;
		padding: 0.2rem;
		cursor: pointer;
		font-size: 1.2rem;
		text-align: center;
	}
	.header nav li:hover {
		background: red;
	}
	.search {
		height: 1.8rem;
		border-radius: 0.2rem 0 0 0.2rem;
		width: 50%;
		padding: 0.2rem;
		border: 1px solid red;
		margin-bottom: 3px;
		text-align: center;
	}
	.searchbtn {
		height: 1.8rem;
		background: white;
		border: 1px solid red;
		padding: 0.2rem;
		border-radius: 0 0.2rem 0.2rem 0;
		cursor: pointer;
		font-weight: bold;
	}
	.searchbtn:hover {
		background-color: gold;
		border: 3px solid black;
	}
	section {
		color: white;
		padding: 5rem 5rem;
	}
	.left {
		visibility: hidden;
		height: 0%;
		width: 0%;
		margin-bottom: -250px;
	}
	.right {
		background: white;
		color: black;
		padding: 20px;
		text-align: center;
		margin: 1px;
		width: 100%;
		height: 100%;
		margin-top: -550px;
	  	opacity: 0.92;
	}
	.top-section h1 {
		color: black;
		text-align: center; 
		margin-top: -8px;
		font-size: 36px;
	}
	.top-section p {
		color: black;
		text-align: center; 
		margin-top: -35px;
		font-weight: bold;
		font-size: 18px;
	}
	.right-bottom {
	  background-color: black;
	  height: 50%;
	  opacity: 1;
	}	
	.mobile-section {
		background: white; 
		margin-bottom: -70px; 
		padding: 20px; 
		margin-top: 10px;
		opacity: 0.9;
	}
	.category {
		color: black; 
		text-align: center;
	}
	a {
		text-decoration: none;
		color: black;
	}
	a:hover {
		color: red;
	}
	.social {
		width: 3%;
		height: 3%;
	}
	.footer {
		background-color: black;
		color: white;
		text-align: center;
		font-size: 0.8rem;
		width: 100%;
		height: 7rem;
		padding: 0.4rem;
	}
	.fb {
		margin-left: -35px;
	}
	.footer p a {
		color: white;
	}
	.footer p a:hover {
		color: red;
	}
	.footer li {
		display: inline;
		padding: 1px;																					
		margin: 0;
		vertical-align: middle;
	}	

}
div.ex1 {
    background-color: blue;
    width: 1200px;
    height: 250px;
    overflow-x: scroll;
}
div.ex2 {
    background-color: red;
    width: 1300px;
    height: 200px;
    overflow: hidden;
}

	</style>